.wrap {
  position: relative;
  z-index: 5;
}

.selected {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000;
  border-radius: 16px;
  width: 132px;
  height: 40px;
  background: #333230;
  cursor: pointer;
  border: 2px solid #D4230E;
  color: #fff;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;

    * {
      fill: #fff;
    }
  }
}

.rotate {
  transform: translateY(-50%) rotate(180deg) !important;
}

.list {
  z-index: 1;
  position: relative;

}

.drop {
  // top: -100%;
  bottom: -10px;
  padding-bottom: 25px;
  padding-top: 15px;
  position: absolute;
  z-index: 1;
  background: #333230;

  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  cursor: pointer;
  text-align: center;
}

.boxed {
  .selected {
    width: 100%;
  }
}

.column+.column {
  margin-top: 15px;
}

.first {
  z-index: 7;
}

.mixed {
  justify-content: flex-start;
  text-align: left;
  height: 40px;
  padding-left: 20px;
}

@media (max-width: 1080px) {
  .selected {
    height: 40px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  border-radius: 8px;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;

  &__item {
    img {
      max-width: 100%;
      border-radius: 8px;
      height: 100%;
      max-height: 125px;
    }
  }

  &__item {
    box-shadow: 0px 3px 14px 9px rgba(2, 108, 73, 0.5);
    border-radius: 8px;
  }

  &__item:nth-child(n+15) {
    box-shadow: 0px 3px 14px 9px rgba(255, 255, 255, 0.5);
  }

  &__item:nth-child(n+17) {
    box-shadow: 0px 3px 14px 9px rgba(255, 0, 0, 0.5);
  }

  .selected__card {
    border-radius: 8px;
    transform: scale(1.1);
    box-shadow: 0px 3px 14px 9px rgba(255, 255, 255, 0.4);
  }
}